PROJECT_ROOT=/path/to/tj_inventory
DATABASE_TYPE=postgres
DJANGO_SECRET_KEY=terwewowufjasfgfdgsdfgnuivuwpoancpdfgsoeiuarnopaiewgdfsgdsmxroew83juno
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.12.57
CSRF_TRUSTED_ORIGINS=http://yourhost.nas
DEBUG=True
EXPRESS_LOCATION=http://yourhost.nas:8001/api/v1
DJANGO_MEDIA=./django/srcs/media
DJANGO_PORT=8000
DJANGO_HOST_PRD_PORT=8000
DJANGO_HOST_DEV_PORT=8100

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database
POSTGRES_HOST=hostname
POSTGRES_PORT=5432

ADMINER_HOST_PRD_PORT=8080
ADMINER_HOST_DEV_PORT=8081

# Production SSH Configuration (For database cloning)
REFRESH_DB_DEV=false
PROD_SSH_HOST=192.168.x.x
PROD_SSH_PORT=22
PROD_SSH_USER=username
PROD_SSH_PASSWORD=ssh_password
