private
venv
jupyter_env
.DS_Store
.env
__pycache__
.pytest_cache
*.sqlite3
django/media/item_images/*
!django/media/item_images/.gitkeep
django/media/inventory/attachments/*
!django/media/inventory/attachments/.gitkeep