.DS_Store
.env
__pycache__
.pytest_cache
*.sqlite3
srcs/media/item_images/*
!srcs/media/item_images/.gitkeep
srcs/media/inventory/attachments/*
!srcs/media/inventory/attachments/.gitkeep
srcs/media/procurement/*
!srcs/media/procurement/.gitkeep
srcs/media/sales/*
!srcs/media/sales/.gitkeep
migrate/data/*
!migrate/data/.gitkeep
migrate/notebook/*
