DJANGO_SECRET_KEY=ewvuwpoancpoweoruwiruqtwgdsfgeiuarnopaioew83juno
ALLOWED_HOSTS='localhost,127.0.0.1,192.168.12.57,your_host'
CSRF_TRUSTED_ORIGINS='https://subdomain.yourname.domain'
DEBUG=True
EXPRESS_LOCATION=http://your_express_server/api/v1
COMPANY_WAREHOUSE_CODES='{"TJ69":"TG001","JINTAN68":"TJ001"}'
